html {
  font-family: Lora, serif;
}

.masthead {
  color: #fff;
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  background-repeat: repeat;
  background-size: 64px;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border: solid 3px #2d5a4d;
  border-radius: 8px;
  background-color: #467366;
  color: #fff;
}

.nav a:hover {
  color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-color: #fff;
  background-position: center;
  background-size: 64px;
  background-repeat: no-repeat;

}

.banner {
  background-image: url("")
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
